body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.app-header{
  padding: 50px;
  width: 100%;
  background-color:#363636;
  color:#fff;
  position: fixed;  
  top: 0;
}
.app-header__logo{
  height: 50px;
 display: inline-block;
  
}

.app-header__title{
  margin:0;
  margin-left: 15px;
  line-height: 50px;
  display: inline-block;
  vertical-align: bottom;
}

.app-container{
  margin-top:180px;
}

.app-devices{
  margin: 30px auto;
  padding: 0;
  width: 850px;
}

.app-device{
  margin: 10px;
  padding: 15px;
  width:150px;
  height: 150px;
  border: 1px dotted #ccc;
  border-radius: 4px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
}
.app-device--offline{
  color: #ccc;
}

.app-device--offline::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ccc;
  opacity: .6;
  z-index: 1;
}

.app-device__icon{
  width: 80px;
  height: 80px;
}

.app-device__name{
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-device__power{
  position: absolute;
  top: 7px;
  right: 7px;
}

.app-device__power img{
  width: 25px;
  height: 25px;
}